{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <p>Seus serviços</p>

    <ul class="providers">
      {% for service in services %}
        <li class="provider">
          <div>
            <img src="/files/{{ service.user.avatar }}"/>
            <strong>{{provider.name}}
            </strong>
          </div>
          <div>
            <strong>{{service.user.name}}
            </strong>
            <strong>{{service.date}}
            </strong>
          </div>
        </li>
      {% endfor %}
    </ul>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
