{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <p>Seus serviços</p>

    <ul class="providers">
      {% for service in services %}
        <li class="provider">
          <div>
            <strong>{{service.date}}
            </strong>
            <strong>{{service.User.name}}
            </strong>
          </div>
        </li>
      {% endfor %}
    </ul>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
